<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Example</title>
    <link rel="icon" type="image/png" href="../IMG/bookstore-icon.jfif">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function confirmDeletion(productId) {
            if (confirm('Are you sure you want to delete this product?')) {
                window.location.href = '/delete/' + productId;
            }
        }
    </script>
  <style>
        body {
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          height: 100vh;
        }
        #sidebar {
          width: 100%;
          background-color: #333;
          color: #fff;
          padding: 10px;
          box-sizing: border-box;
        }
        #sidebar ul {
          list-style: none;
          padding: 0;
          display: flex;
          margin: 0;
          justify-content: flex-end;
        }
        #sidebar li {
          margin-left: 10px;
          border: 1px solid #fff; 
          padding: 5px 10px;
          border-radius: 4px; 
          box-sizing: border-box;
        }
        #sidebar li a {
          text-decoration: none;
          color: #fff;
        }
        #main {
          flex-grow: 1;
          padding: 20px;
          overflow: auto;
        }
        
        .coupon-highlight {
          background-color: #ff0;
          color: #333; 
          font-weight: bold; 
          border-color: #ff0; 
        }
    </style>
</head>
<body>
    <div id="sidebar">
        <h2>Fruitables - Admin</h2>
        <ul>
          <li class="coupon-highlight"><a href="admin" style="color: #333;">Product</a></li>
          <li><a href="../account" >Account</a></li>
          <li><a href="../orderadmin/pending">Order</a></li>
          <li><a href="/api/v1/users/logout">Logout</a></li>
        </ul>
      </div>
    <div class="container">
        <h1>Product</h1>
        <a href="./add" class="btn btn-primary mb-3">Add product</a>
        <% if (typeof message !== 'undefined') { %>
          <div class="alert alert-danger" role="alert">
              <%= message %>
          </div>
      <% } %>
        <div class="table-responsive-sm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product name</th>
                        <th>Price per Kg</th>
                        <th>Old price per Kg</th>
                        <th>Weight Kg</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < products.length; i++) { %>
                    <tr>
                        <td><%= products[i]._id %></td>
                        <td><%= products[i].name %></td>
                        <td><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(products[i].price) %></td>
                        <td><%= new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(products[i].oldPrice) %></td>
                        <td><%= products[i].weight %></td>
                        <td><img height="60" width="80" src="img/<%= products[i].image %>" alt="Product Image"></td>
                        <td width="100">
                            <a href="/<%= products[i]._id %>" class="btn btn-primary btn-sm" style="width:80px; margin-right: 5px;">Details</a>
                            <a href="/edit/<%= products[i]._id %>" class="btn btn-secondary btn-sm" style="width:80px;">Edit</a>
                            <a href="javascript:void(0);" onclick="confirmDeletion('<%= products[i]._id %>')" class="btn btn-danger btn-sm" style="width:80px;">Delete</a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
